.SimilarAnnouncement {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 220px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.SimilarAnnouncement__img img {
    height: 120px;
    width: 100%;
}

.SimilarAnnouncement__title {
    padding: 5px;
}